##### REPORTING AND ANALYTICS: USER BEHAVIOR

#### INTRODUCTION
This dataset provides a comprehensive analysis of mobile device usage patterns and user behavior classification.

Question
- What is the average time spent on screen per day
- What gender have more screentime per day
- Which Age group spend more time on phone

#### 1. OBTAIN
here:

we get the dataset
we establish data sources

Data source

https://www.kaggle.com/datasets/valakhorasani/mobile-device-usage-and-user-behavior-dataset

In [17]:
# import libraries
import pandas as pd
import numpy as np

# read csv
mobile_use_df = pd.read_csv('data/user_behavior_dataset.csv')

In [19]:
# inspect the header
mobile_use_df.head()

,User ID,Device Model,Operating System,App Usage Time (min/day),Screen On Time (hours/day),Battery Drain (mAh/day),Number of Apps Installed,Data Usage (MB/day),Age,Gender,User Behavior Class
0,1,Google Pixel 5,Android,393,6.4,1872,67,1122,40,Male,4
1,2,OnePlus 9,Android,268,4.7,1331,42,944,47,Female,3
2,3,Xiaomi Mi 11,Android,154,4.0,761,32,322,42,Male,2
3,4,Google Pixel 5,Android,239,4.8,1676,56,871,20,Male,3
4,5,iPhone 12,iOS,187,4.3,1367,58,988,31,Female,3

In [21]:
# inspect the tail
mobile_use_df.tail()

,User ID,Device Model,Operating System,App Usage Time (min/day),Screen On Time (hours/day),Battery Drain (mAh/day),Number of Apps Installed,Data Usage (MB/day),Age,Gender,User Behavior Class
695,696,iPhone 12,iOS,92,3.9,1082,26,381,22,Male,2
696,697,Xiaomi Mi 11,Android,316,6.8,1965,68,1201,59,Male,4
697,698,Google Pixel 5,Android,99,3.1,942,22,457,50,Female,2
698,699,Samsung Galaxy S21,Android,62,1.7,431,13,224,44,Male,1
699,700,OnePlus 9,Android,212,5.4,1306,49,828,23,Female,3

#### 2. SCRUB
Is the data:

- Complete/asses gaps in data
- Has missing values
- Consistency
- Data Integrity/ uniformity
- Repeating values

In [26]:
# check for missing values and datatype
mobile_use_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 700 entries, 0 to 699
Data columns (total 11 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   User ID                     700 non-null    int64
 1   Device Model                700 non-null    object
 2   Operating System            700 non-null    object
 3   App Usage Time (min/day)    700 non-null    int64
 4   Screen On Time (hours/day)  700 non-null    float64
 5   Battery Drain (mAh/day)     700 non-null    int64
 6   Number of Apps Installed    700 non-null    int64
 7   Data Usage (MB/day)         700 non-null    int64
 8   Age                         700 non-null    int64
 9   Gender                      700 non-null    object
 10  User Behavior Class         700 non-null    int64
dtypes: float64(1), int64(7), object(3)
memory usage: 60.3+ KB

- There are no missing values in our dataset 
- The datatype is uniform

In [36]:
# Check on duplicated values
duplicates = mobile_use_df[mobile_use_df.duplicated(keep = False)]
len(duplicates)

0

In [43]:
# find out the shape of the dataframe
mobile_use_df.shape

(700, 11)

In [ ]:
**Auxilliary datasets to explain:

mobile usage in different countries
How The AQI of a country affect its GDP**