#### 1. Working with Dates and Times
- Pandas can automatically parse date columns, but sometimes you'll need to manually parse strings into dates. 
- You can use **pd.to_datetime()** function to convert strings to datetime objects.

##### 1.1 Parsing Dates

In [3]:
import pandas as pd
# sample data
data = {"Name": ["Alice", "Bob"], "Join_Date": ["2024-01-15","2024-03-22"]}
df = pd.DataFrame(data)
df

    Name   Join_Date
0  Alice  2024-01-15
1    Bob  2024-03-22

In [4]:
df["Join_Date"]= pd.to_datetime(df["Join_Date"])
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2 entries, 0 to 1
Data columns (total 2 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Name       2 non-null      object
 1   Join_Date  2 non-null      datetime64[ns]
dtypes: datetime64[ns](1), object(1)
memory usage: 164.0+ bytes

##### 1.2 Extracting Date Components
- Once dates are parsed, you can extract componnts like year, month, day

In [6]:
# extract year, month and day
df["Year"] = df["Join_Date"].dt.year
df["Month"] = df["Join_Date"].dt.month
df["Day"] = df["Join_Date"].dt.day
df

    Name  Join_Date  Year  Month  Day
0  Alice 2024-01-15  2024      1   15
1    Bob 2024-03-22  2024      3   22

##### 1.3 Date Arithmetic
- You can perform arithmetics like adding and substracting days and finding the difference between dates.

##### 1.3.1 Adding and Substracting Days

In [9]:
# add 7 days to Join_Date
df["Join_Date_plus_7"] = df["Join_Date"] + pd.DateOffset(days=7)
# substracting 1 month from Join_Date
df["Join_Date_minus_1_month"] = df["Join_Date"] - pd.DateOffset(month=1)
df

C:\Users\Hp\AppData\Local\Temp\ipykernel_15636\85096817.py:4: PerformanceWarning: Non-vectorized DateOffset being applied to Series or DatetimeIndex.
  df["Join_Date_minus_1_month"] = df["Join_Date"] - pd.DateOffset(month=1)

    Name  Join_Date  Year  Month  Day Join_Date_plus_7 Join_Date_minus_1_month
0  Alice 2024-01-15  2024      1   15       2024-01-22              2024-01-15
1    Bob 2024-03-22  2024      3   22       2024-03-29              2024-01-22

##### 1.3.2 Calculating Difference Between Dates
- Calculate the difference between two dates using **Substraction**

In [11]:
# Timestamp.now extracts the root
df["Days_Since_Join"] = (pd.Timestamp.now() - df["Join_Date"]).dt.days
df

,Name,Join_Date,Year,Month,Day,Join_Date_plus_7,Join_Date_minus_1_month,Days_Since_Join
0,Alice,2024-01-15,2024,1,15,2024-01-22,2024-01-15,305
1,Bob,2024-03-22,2024,3,22,2024-03-29,2024-01-22,238

##### 1.4 Working with Time Series Data
- For time series data, Pndas provides tools to resample and aggregate data by specific time intervals

##### 1.4.1 Setting the Index to DateTime

setting a datetime column as the index is OFTEN useful in time series analysis.

In [15]:
# set Join_Date as index
df.set_index("Join_Date", inplace = True)
df

,Name,Year,Month,Day,Join_Date_plus_7,Join_Date_minus_1_month,Days_Since_Join
Join_Date,,,,,,,
2024-01-15,Alice,2024,1,15,2024-01-22,2024-01-15,305
2024-03-22,Bob,2024,3,22,2024-03-29,2024-01-22,238

##### 1.4.2 Resampling Time Series Data

In [17]:
# Example Dataframe with a dataframe index
date_range = pd.date_range(start= "2024-01-01", end="2024-03-31", freq="D")
# range returns the start and end 
df_time = pd.DataFrame({"Value": range(len(date_range))}, index=date_range)
df_time

            Value
2024-01-01      0
2024-01-02      1
2024-01-03      2
2024-01-04      3
2024-01-05      4
...           ...
2024-03-27     86
2024-03-28     87
2024-03-29     88
2024-03-30     89
2024-03-31     90

[91 rows x 1 columns]

In [18]:
# resampling date to monthly mean
monthly_mean = df_time.resample("M").mean()
monthly_mean

            Value
2024-01-31   15.0
2024-02-29   45.0
2024-03-31   75.0

##### 1.5 Time Zone Handling
- If you are working with data from different time zones, you can localize and convert time zones using Pandas.

##### 1.5.1 Localizing Time Zones
Use **.dt_tz_localize()**

In [21]:
# localize to UTC
df_time.index = df_time.index.tz_localize("UTC")
df_time

                           Value
2024-01-01 00:00:00+00:00      0
2024-01-02 00:00:00+00:00      1
2024-01-03 00:00:00+00:00      2
2024-01-04 00:00:00+00:00      3
2024-01-05 00:00:00+00:00      4
...                          ...
2024-03-27 00:00:00+00:00     86
2024-03-28 00:00:00+00:00     87
2024-03-29 00:00:00+00:00     88
2024-03-30 00:00:00+00:00     89
2024-03-31 00:00:00+00:00     90

[91 rows x 1 columns]

In [22]:
import pytz
print("Timezone:")
africa_tz_list= []
other_tz_list = []
for time_zone in pytz.all_timezones:
    if "Africa" in time_zone:
        africa_tz_list.append(time_zone)
    else:
        other_tz_list.append(time_zone)

Timezone: