In [1]:
# First we are will import pandas as pd
import pandas as pd

###### 1. Write a Python function to find the maximum of three numbers.

In [18]:
# 
# a = 245
# b = 16
# c = 89
def find_maximum_num(a,b,c):
    return max(a,b,c)
find_maximum_num(245, 16,89)

245

##### 2.Write a Python function to sum all the numbers in a list.
- Sample List : (8, 2, 3, 0, 7)
- Expected Output : 20

In [62]:
def find_sum_of_nums(numbers):
    total = 0
    for num in numbers:
        total += num
    return total

In [66]:
find_sum_of_nums([8,2,3,0,7])

20

In [4]:
def add_numbers(numbers):
    return sum(numbers)
add_numbers([8, 2, 3, 0, 7])

20

##### 3.Write a Python function to multiply all the numbers in a list.
- Sample List : (8, 2, 3, -1, 7)
- Expected Output : -336

In [14]:
# numbers = [8, 2, 3, -1, 7]
def multiply_num(numbers):
    multiple_of_num = 1
    for num in numbers:
        multiple_of_num *= num
    return multiple_of_num 
multiply_num([4,7,8,2])

448

In [8]:
def multiply_num(a,b,c,d,e):
    multiple_of_num = a*b*c*d*e
    return multiple_of_num
multiply_num(8, 2, 3, -1, 7)

-336

##### 4.Write a Python program to reverse a string.
- Sample String : "1234abcd"
- Expected Output : "dcba4321"

In [11]:
def reverse_string(str1):
   return "".join(reversed(str1))
reverse_string("1234abcd")

'dcba4321'

In [36]:
my_string = "1234abcd"
my_string[::-1]

'dcba4321'

##### 5.Write a Python function to check whether a number falls within a given range.

In [38]:
my_range = range(1,100)
my_list = [12,89,76,190,88,56,400]
for num in my_list:
    if num not in my_range:
        print(f'{num} is not in range')  
    else:
        print(f'{num} is within range')

12 is within range
89 is within range
76 is within range
190 is not in range
88 is within range
56 is within range
400 is not in range

In [40]:
def within_range(num,start,end):
    if num >= start and num <=end:
        return True
    else:
        return False
my_number = within_range(20,2,17)        
my_number

False

In [48]:
def within_range(number):
    if number in range(10,100):
        print(f'{number}is in range')
    else:
        print(f'{number} not in range')
within_range(34)

34is in range

##### 6.Write a Python function that accepts a string and counts the number of upper and lower case letters.
- Sample String : 'The quick Brow Fox'
- Expected Output :
- No. of Upper case characters : 3
- No. of Lower case Characters : 12

In [52]:
def check_string(str):
    lower_case = 0
    upper_case = 0
    for char in str:
        if char.islower():
            lower_case += 1
        elif char.isupper():
            upper_case += 1
    return lower_case, upper_case
check_string("The quick Brow Fox")
#print(f'The No. of lower case characters {lower_case}\n No.of upper case character {upper_case}')

(12, 3)

###### 7.Write a Python function that takes a list and returns a new list with distinct elements from the first list.
- Sample List : [1,2,3,3,3,3,4,5]
- Unique List : [1, 2, 3, 4, 5]

In [56]:
def unique_elements(sample_list):
    return list(set(sample_list))
new_list = unique_elements([1,2,3,3,3,3,4,5])
new_list

[1, 2, 3, 4, 5]

###### 8.Write a Python program to print a specified list after removing the 0th, 4th and 5th elements.
- Sample List : ['Red', 'Green', 'White', 'Black', 'Pink', 'Yellow']
- Expected Output : ['Green', 'White', 'Black']

In [22]:
sample_list = ['Red', 'Green', 'White', 'Black', 'Pink', 'Yellow']
expected_output = sample_list[1:4]
expected_output

['Green', 'White', 'Black']

In [23]:
def removed_items(sample_list):
    return sample_list[1:4]
expected_output = removed_items(sample_list)
expected_output

['Green', 'White', 'Black']

###### 9. Write a Python script to sort (ascending and descending) a dictionary by value.

In [60]:
dict1={1:10, 2:20} 
my_sorted_dict = sorted(dict1.items(), key = lambda i: i[1], reverse = True)
sorted_dict_1 = dict(my_sorted_dict)
sorted_dict_1

{2: 20, 1: 10}

###### 10. ⁠Write a Python script to concatenate the following dictionaries to create a new one.

- Sample Dictionary :
dic1={1:10, 2:20}
dic2={3:30, 4:40}
dic3={5:50,6:60}
Expected Result : {1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

In [30]:
dic1={1:10, 2:20} 
dic2={3:30, 4:40} 
dic3={5:50,6:60} 
# Expected Result : {1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}
# new_dic = {**dic1,**dic2,**dic3}
# new_dic
new_dic = dic1|dic2|dic3
new_dic

{1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}