#### Analysis of Kenya's Public Dataset(2021)

In [1]:
# get the pandas library
import pandas as pd

In [2]:
#create a dataframe object and read downloaded dataset
df= pd.read_csv("Public Debt (Ksh Million).csv")

In [3]:
# How many rows and columns do we have in this dataset len df
df.shape

(262, 5)

In [7]:
# What does the first 3 rows look like in this dataset
df.head(3)

   Year     Month Domestic Debt External Debt         Total
0  2021  December  4,032,368.18  4,174,371.53  8,206,739.71
1  2021  November  4,008,077.30  4,109,282.85  8,117,360.15
2  2021   October  3,959,523.30  4,083,124.54  8,042,647.84

In [9]:
# what about random 3 mid-level rows
df.loc[[220,221,222]]

     Year   Month Domestic Debt External Debt       Total
220  2003  August    295,494.51    397,991.28  693,485.79
221  2003    July    292,277.47    398,532.85  690,810.32
222  2003    June    289,376.97    407,053.00  696,429.97

In [11]:
# iloc gives us access to a specific value in a row and column [:,:]
df.iloc[8:10,3:]

  External Debt         Total
8  3,778,131.44  7,411,046.24
9  3,769,866.74  7,339,707.31

In [13]:
#What does the last 3 rows look like
df.tail(3)

     Year      Month Domestic Debt External Debt       Total
259  2000      March    201,463.22    396,800.00  598,263.22
260  1999   December    190,300.00    311,953.00  502,253.00
261  1999  September    183,417.00    320,137.00  503,554.00

In [15]:
# can I just see more of this data
df[:30]

    Year      Month Domestic Debt External Debt         Total
0   2021   December  4,032,368.18  4,174,371.53  8,206,739.71
1   2021   November  4,008,077.30  4,109,282.85  8,117,360.15
2   2021    October  3,959,523.30  4,083,124.54  8,042,647.84
3   2021  September  3,937,777.45  4,062,504.78  8,000,282.23
4   2021     August  3,864,875.78  4,054,862.85  7,919,738.63
5   2021       July  3,792,146.89  4,020,629.30  7,812,776.19
6   2021       June  3,697,093.18  4,015,299.38  7,712,392.57
7   2021        May  3,686,891.72  3,799,018.81  7,485,910.53
8   2021      April  3,632,914.80  3,778,131.44  7,411,046.24
9   2021      March  3,569,840.57  3,769,866.74  7,339,707.31
10  2021   February  3,531,182.93  3,814,288.77  7,345,471.70
11  2021    January  3,532,561.52  3,819,699.66  7,352,261.18
12  2020   December  3,488,541.18  3,793,285.24  7,281,826.42
13  2020   November  3,482,653.56  3,771,808.47  7,254,462.03
14  2020    October  3,457,644.63  3,705,644.24  7,163,288.87
15  2020  September  3,457,106.50  3,663,491.22  7,120,597.72
16  2020     August  3,402,500.73  3,666,321.29  7,068,822.02
17  2020       July  3,273,551.44  3,638,506.49  6,912,057.93
18  2020       June  3,178,421.28  3,515,810.78  6,694,232.06
19  2020        May  3,153,143.94  3,496,428.84  6,649,572.77
20  2020      April  3,119,415.80  3,317,330.98  6,436,746.77
21  2020      March  3,070,189.38  3,212,634.23  6,282,823.61
22  2020   February  3,040,964.55  3,117,038.57  6,158,003.12
23  2020    January  3,003,700.30  3,112,897.95  6,116,598.25
24  2019   December  2,942,103.54  3,106,822.96  6,048,926.50
25  2019   November  2,917,362.29  3,114,959.69  6,032,321.98
26  2019    October  2,897,141.36  3,127,601.26  6,024,742.62
27  2019  September  2,851,639.21  3,111,767.28  5,963,406.49
28  2019     August  2,875,502.65  3,133,543.34  6,009,045.99
29  2019       July  2,843,666.89  3,160,057.46  6,003,724.35

```
    -Does the rows and headers make sense to me?
    - we can perharps verify the total column does what it says i.e domestic_debt + external_debt = Total
```

In [20]:
domestic_debt = float(df.loc[0]["Domestic Debt"].replace(",",""))
domestic_debt
external_debt = float(df.loc[0]["External Debt"].replace(",",""))
total_debt = domestic_debt + external_debt
total_debt

8206739.71

In [22]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 262 entries, 0 to 261
Data columns (total 5 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Year           262 non-null    int64
 1   Month          262 non-null    object
 2   Domestic Debt  262 non-null    object
 3   External Debt  262 non-null    object
 4   Total          262 non-null    object
dtypes: int64(1), object(4)
memory usage: 10.4+ KB

In [29]:
my_string = (df.loc[0]["Domestic Debt"]).replace(",","")
my_string

'4032368.18'

In [1]:
.loc?

Object `loc` not found.

In [31]:
my_string.replace(",","")
mt_string

NameError: name 'mt_string' is not defined

In [ ]:
int(float(my_string))