In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.DataFrame(np.random.randn(5,4), index='A B C D E'.split(), columns='W X Y Z'.split())
df

          W         X         Y         Z
A  0.759487  0.250626 -0.728806 -0.040696
B  1.136961 -1.567351  0.517024 -1.830914
C -0.787904 -0.552030 -1.880009  0.016156
D -0.521600 -0.754074  0.991339  0.704099
E -0.857668  1.327303  1.273332 -0.242165

In [3]:
df.loc[['A', 'B']]

          W         X         Y         Z
A  0.759487  0.250626 -0.728806 -0.040696
B  1.136961 -1.567351  0.517024 -1.830914

In [4]:
# get the first row from the dataframe
# df.iloc[0]
df[1:2]

          W         X         Y         Z
B  1.136961 -1.567351  0.517024 -1.830914

In [5]:
# reorder the rows
df.loc[['C','A', 'E','D']]

          W         X         Y         Z
C -0.787904 -0.552030 -1.880009  0.016156
A  0.759487  0.250626 -0.728806 -0.040696
E -0.857668  1.327303  1.273332 -0.242165
D -0.521600 -0.754074  0.991339  0.704099

In [6]:
# get columns
df[['X','W','Z']]

          X         W         Z
A  0.250626  0.759487 -0.040696
B -1.567351  1.136961 -1.830914
C -0.552030 -0.787904  0.016156
D -0.754074 -0.521600  0.704099
E  1.327303 -0.857668 -0.242165

In [7]:
df

          W         X         Y         Z
A  0.759487  0.250626 -0.728806 -0.040696
B  1.136961 -1.567351  0.517024 -1.830914
C -0.787904 -0.552030 -1.880009  0.016156
D -0.521600 -0.754074  0.991339  0.704099
E -0.857668  1.327303  1.273332 -0.242165

In [8]:
df.iloc[:3,1:3]

          X         Y
A  0.250626 -0.728806
B -1.567351  0.517024
C -0.552030 -1.880009

In [9]:
# get slice of both rows and columns
# get row DY:DZ, YE:ZE
df.iloc[3:,2:]

          Y         Z
D  0.991339  0.704099
E  1.273332 -0.242165

In [10]:
DataFrame.merge(right, how='inner', 
                on=None, left_on=None, 
                right_on=None, left_index=False, 
                right_index=False, sort=False, 
                suffixes=('_x', '_y'), copy=None,
                indicator=False, 
                validate=None)[source]

NameError: name 'DataFrame' is not defined